add-user {
    .droite {
        float:right;
    }

    .gauche {
        float:left;
    }

    .bas {
        clear: both;
        position: fixed;
        bottom: 5%;
    }

    .photo {
        background-color: red;
        object-fit: cover;
    }
}